.analysisView
	// height 100%
	display flex
	flex-direction column
	
	.timeScaleToolbar
		flex none
		flex-basis 85px
		display flex
		padding-bottom 25px
		border-bottom 2px solid sidebar-borders
		
		.slider				
			width 100%
			
			.slider-track
				border-radius 15px
				height 16px
			
				.slider-track-low, .slider-track-high
					border-radius 15px
					background #e4eff5
					
				.slider-selection					
					border-radius 0px
					box-shadow none
					background #c8dae4
				
				.slider-handle
					transition background 0.2s ease
					background #607886
					margin-top -3px
					border 3px solid white
					
					&:hover
						background #3b4e59
		
		> #timeSpanContainer
			flex 5
			display flex
			align-items flex-end
			padding 0px 30px
			
		> #granularContainer
			flex 1
			display flex
			align-items flex-end			
			padding 0px 30px
			
			.slider-track-low, .slider-track-high
				background #e4f5e4
				
			.slider-selection
				background #bfe0bf
				
			.slider-handle
				background #557b55
				
				&:hover
					background #374e37
	
	.mainWrapper
		flex 1
		display flex
		flex-direction row
		align-items stetch

		.noData
			flex 1

			padding 100px 30px

			color hsl(hue(sidebar-bg), 15%, 35%)
			text-align center

			> h1
				margin-bottom 20px		

		.chartContainer
			flex 5
			display flex

			padding 20px 30px

			> .noData
				flex 1

				display flex
				align-items center
				justify-content center

				padding 50px

				color #AAA
				font-size 24px
				font-weight 700

			> .chartInner			
				flex 1
				
				display flex
				align-items center
				justify-content center
				
				> .eventInfo
					display none
					z-index 9999
					position absolute
					padding 10px
					width 100px
					margin-left -(@width / 2)
					
					background #fff
					border 1px solid #eee
					border-radius 10px
					
					&.show
					
					> .title
						font-weight bold
						border-bottom 1px solid black
						font-size 14px
						
					> .description
						font-weight normal
						margin 5px 0px
				
				.yearLine
					font-weight bold
					
					text
						// Moves year value to right side of yearLine
						transform rotate(-90deg) translateY(17px)
						
				.disabledChart
					flex 1
					
					display flex
					align-items center
					justify-content center
				
					color #AAA
					padding 20px
					font-size 18px
					font-weight 600	
					
				.chart
					flex 1
					
					.c3-chart
						z-index 0
						
					.c3-regions:first-child
						display none
						
					.c3-regions
						// margin-top -100px
						
						.c3-region > rect
							// 10% of original height
							transform scaleY(0.1) !important						
							
							&:hover
								fill red !important
								
								&:before
									content attr(class)
									display block
									position absolute
									top 100px
									color black
						

		.selectionPanel
			flex 1

			padding 20px 30px
			border-left 2px solid sidebar-borders

			> .heading
				font-size 24px
				font-weight 300		
