.analysisView
	display flex
	flex-direction column

	> .noData
		flex 1

		padding 100px 30px

		color hsl(hue(sidebar-bg), 15%, 35%)
		text-align center

		> h1
			margin-bottom 20px

	> .controlPanel
		height 300px

		border-bottom 2px solid sidebar-borders

		padding 20px 30px

		> .heading
			font-size 24px
			font-weight 300

	> .chartContainer
		flex 1

		display flex

		padding 20px 30px

		> .noData
			flex 1

			display flex
			align-items center
			justify-content center

			padding 50px

			color #AAA
			font-size 24px
			font-weight 700

		> .chart
			flex 1
			
			.yearLine
				font-weight bold
				
				text
					// Moves year value to right side of yearLine
					transform: rotate(-90deg) translateY(17px)
