.progNotesView
	display flex
	flex-direction column

	> .toolbar
		border-bottom 2px solid sidebar-borders

		padding 20px

		> .btn
			margin-right 15px

			> .fa
				padding-right 8px

		> .popover
			max-width none

			.popover-content
				> textarea
					width 500px
					height 300px

				> .buttonBar
					padding 10px 0 0

					text-align right

					> .btn
						margin-left 5px

	> .panes
		display flex
		flex 1

		> .progNotes
			flex 50%
			overflow auto

			padding 10px 20px
			
			> .empty
				text-align center
				
				> .message
					padding 100px 80px 50px

					color #888
					font-size 16px

				> .btn
					clear both
					margin 15px
					
					> .fa
						padding-right 10px
						
				> .popover
					max-width none

					.popover-content
						> textarea
							width 500px
							height 300px

						> .buttonBar
							padding 10px 0 0

							text-align right

							> .btn
								margin-left 5px

			> .progNote
				flex 1

				padding-bottom 30px

				> .header
					display flex

					border-bottom 2px solid sidebar-borders

					padding 5px 0

					font-size 24px
					font-weight 300

					> .timestamp
						flex 1

				&.basic
					> .notes
						padding 20px 0

						> br
							display block

				&.full
					> .sections
						> .section
							> .name
								font-size 24px
								font-weight 400

							&.basic
								> .name
									cursor pointer

								> .empty
									padding 0 2px

									color #888

								> .metrics
									padding-top 5px

							&.plan
								> .empty
									padding 0 2px

									color #888

								> .targets
									> .target
										> .name
											margin 15px 0 5px

											color #666
											cursor pointer
											font-size 16px
											font-weight 600

										> .empty
											padding 0 2px

											color #888

										> .metrics
											display flex
											flex-wrap wrap

											margin -5px

											padding-top 5px

											> .metricWidget
												margin 5px

		> .progNoteDetailView
			flex 50%

			border-left 2px solid sidebar-borders
