.brandContainer
	overflow-y hidden
	overflow-x visible
	padding 20px
	
	.logoKN
		height 20px
		display inline-flex
		float right
		transition transform 0.8s ease
		transform rotate(-180deg)
	.logoKonode
		display inline-flex
		height 15px
		width auto
		margin-right 10px
		transition all 0.5s ease
		margin-bottom -20px
		opacity 0
		
	&:hover
		.logoKN
			transform rotate(360deg)
		.logoKonode
			margin-bottom 2px
			opacity 1
			
	&.brandReverse
	.logoKN
		float left
	.logoKonode
		margin-right 0px
		margin-left 10px