// Technical debt: Need to control color variables from 1 single doc
logo-maroon = #892652
logo-teal = #70b0d3
logo-light-blue = #83c4ea
sidebar-bg = hsl(hue(logo-light-blue), 35%, 94%)
sidebar-borders = darken(sidebar-bg, 10%)

#container > #clientSelectionPage
	display flex
	overflow hidden
	height 100%	
	
	> #expandMenuButton
		background none
		position fixed
		padding 10px 15px
		top 15px
		right 15px
		outline none !important
		z-index 9999
		border none
		font-size 22px
		opacity 1		
		
		transition all .35s ease
		
		&:before
			opacity 1
			transition all .35s ease
			display block			
			position absolute
			right 100%
			content "Menu"
			color #CBCBCB
			font-size 18px
			font-weight 100
			line-height 1.5em
		
		> .fa
			font-size 25px
			color #686868
			transition all .35s ease
			
		&:hover
			text-decoration none
			cursor pointer
			
			&:before
				font-size 20px
				color #818181

			> .fa
				color #0075C0
				font-size 30px
	
	> #mainContainer
		flex 4
		position relative		
		display flex
		height 100%
		flex-direction column		
		
		> #main
			margin auto 0
			height 100%

			// header animation durations
			duration-to-small = 0.2s
			duration-to-big1 = 0.5s
			duration-to-big2 = 0.1s
			duration-to-big3 = 0.3s

			> header
				display flex
				align-items center
				flex-direction column
				justify-content center
				height 100%

				border-bottom-color hsla(0, 0%, 90%, 0.0)
				border-bottom-style solid
				border-bottom-width 1px

				padding 0 20px

				transition-property height, border-bottom-color
				transition-timing-function ease
				transition-duration duration-to-big1
				transition-delay 0
				
				.brandContainer
					position absolute
					bottom 0px
					right 0px

				.logoContainer
					overflow hidden
					text-align center					
					padding 10px

					transition all duration-to-big1 ease

					img, .subtitle
						transition opacity duration-to-big3 linear (duration-to-big1 + duration-to-big2)
						opacity 1

					.subtitle
						font-size 36px
						text-align center

				&.small
					height 100px

					transition-property height, border-bottom-color
					transition-timing-function ease
					transition-duration duration-to-small
					transition-delay 0

					.logoContainer
						height 0

						padding 0

						transition all duration-to-small ease

						img, .subtitle
							transition opacity duration-to-small step-start
							opacity 0

				.searchBoxContainer
					margin 0px auto
					width 500px					
					max-width 100%

					padding 30px

			> .smallHeaderLogo
				position absolute
				left 30px
				top 30px

				img
					max-height 40px
					cursor pointer

			> .results
				overflow auto
				flex 1

				> .result
					padding 20px 25px

					cursor pointer
					font-weight 600

					&:hover, &.active
						color white
						background hsl(200, 80%, 80%)
						
						> .recordId
							opacity 1
							color white
					
					&.hover
						background hsl(200, 80%, 85%)
						
					&:hover
						background hsl(200, 80%, 80%)
					
					> .recordId
						float right
						opacity 0.5
						font-weight 400
						
			.orderableTable
				thead
					th
						border-bottom 0px
				tbody tr
					transition background .15s ease-in-out
					background white					
					
					&:hover, &.active
						color hsl(200, 80%, 20%)
						background hsl(200, 80%, 80%)
						cursor pointer
						
						td
							border-top-color hsl(200, 80%, 70%)
						
					td
						font-size 1.15em
						line-height 2.5em
						
					td.programsCell
						width 15%
						
						.popover
							// TODO: More relavent styling to program
							color black
				
						.programBubbles
							display flex
							flex-wrap wrap

							.programBubble
								flex 1
								border-radius 50%
								max-width 25px
								border 2px solid white
								transition border-color .15s ease
								
								margin-left 5px
								
								&:hover
									border-color hsla(0, 0, 0, 0.3)
								
								&:before
									display block
									content ""
									padding-top 100%
								
								&:first-child
									margin-left 0px
					
	> #menuContainer
		flex 0		
		display flex
		flex-direction column
		justify-content center
		overflow hidden
		color hsl(hue(sidebar-bg), 15%, 35%)
		background hsl(hue(logo-light-blue), 35%, 94%)
		border-left 2px solid sidebar-borders
		
		transition all 1s ease
		
		&.menuIsOpen
			flex 1
		
		> #menuContent
			overflow hidden
			width auto
			
			> #avatar
				text-align center				
				
				> .fa
					font-size 80px
					width 1.5em
					height 1.5em 
					padding 15px
					margin 0px auto
					display inline-block
					text-align center					
					color hsl(hue(logo-light-blue), 35%, 94%)
					background white
					border-radius 50%
					border 2px dashed hsl(hue(logo-light-blue), 35%, 94%)
				
			> h3 
				font-size 20px
				text-align center
				font-weight 300

			> ul
				overflow hidden
				width 100%
				margin 35px auto
				padding 0
				list-style none
				
				> li
					line-height 2em
					
					> div
						display block
						padding 15px 20px

						cursor pointer
						font-weight 600
						
						> .fa
							padding-right 10px
							transition padding-right .25s ease
						
						&:hover
							background darken(sidebar-bg, 5%)							
			
	&.openMenu
		
		> #expandMenuButton
			transform rotate(90deg)	
			
			&:before				
				opacity 0
			
			&:hover > .fa
				color #929292
		
		
