.crashOverlay
	position absolute
	left 0
	top 0
	right 0
	bottom 0
	z-index 10001 // on top of spinner overlays

	display flex
	align-items center
	justify-content center

	background hsla(352, 84%, 45%, 0.8)
	color white

	> .crashMessage
		text-align center

		> .debugInfo
			margin-top 15px

			width 600px
			height 100px

			background white
			color #888

		> .buttonContainer
			padding 15px
