@require "fonts.css"

html, body
	// Force viewport to scroll if smaller than 900x600
	min-width 900px
	min-height 600px
	height 100%

#container
	position relative

	height 100%

	font-family 'Open Sans', sans-serif

@require spinner
@require clientSelectionPage
@require clientFilePage
@require newProgNotePage
