@require "fonts.css"
@require pageTransitions

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0.25s;
	animation-duration:0.25s;

html, body
	// Force viewport to scroll if smaller than 900x500
	min-width 900px
	min-height 500px
	height 100%

#container
	position relative
	display block !important

	height 100%

	font-family 'Open Sans', sans-serif

textarea
	// Allowing resizing usually messes up the layout.
	// See also: ExpandingTextArea
	resize none

@require accountManagerDialog
@require crashHandler
@require defineMetricDialog
@require dialog
@require metricLookupField
@require metricWidget
@require progNoteDetailView
@require spinner
@require brandWidget
@require timeoutDialog
@require printButton

@require loginPage
@require clientSelectionPage
@require createClientFileDialog
@require clientFilePage
@require createClientFileDialog
@require newProgNotePage
@require 'newProgNotePage/eventView'
@require printPreviewPage
