.metricLookupField
	
	> .twitter-typeahead
		display block !important
		
		> input
			opacity .75
			box-shadow none
			border-radius 0
			display block !important
			font-size 18px
			font-weight 400
			letter-spacing 1px
			padding 12px 5px
			border 0
			background none
			text-align center			
			border-bottom 1px dashed #eee
			transition all .5s ease
			
			&:focus
				outline 0
				padding 30px 5px
				border-bottom 1px solid #7ecdfc

	.tt-dropdown-menu
		overflow hidden
		width 100%

		margin 12px 0 0

		border 1px solid rgba(0, 0, 0, 0.2)
		border-radius 8px
		box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)

		background white

		.empty
			padding 10px

			color #888
			font-weight 700
			text-align center

		.tt-suggestion
			padding 8px 12px

			cursor pointer

			&.tt-cursor
				color white

				background hsl(202, 80%, 55%)

				.definition
					color white

			.definition
				color #888

		.createMetricContainer
			padding 10px

			text-align center
