.metricLookupField
	.tt-dropdown-menu
		overflow hidden

		margin 12px 0 0

		border 1px solid rgba(0, 0, 0, 0.2)
		border-radius 8px
		box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)

		background white

		.empty
			color #888
			font-weight 700

		.tt-suggestion
			padding 8px 12px

			cursor pointer

			&.tt-cursor
				color white

				background hsl(202, 80%, 55%)

				.definition
					color white

			.definition
				color #888
