.progEventsWidget
	display flex
	max-width 100%
	
	> .large
		padding 5px 0
		font-size 14px
		color #337ab7
		
		> .title
			font-size 16px
		
		> .description
			color #888
		
		> .date
			color #888
			padding 5px
	
	> .print
		color #000
		margin-top 20px
		
		> .title
			font-size 22px
			font-weight 400
		
		> .date
			padding 2px
			
		> .description
			color #888
			padding 2px

	> .small
		align-items center
		height 30px
		background hsl(202, 95%, 74%)
		border-radius 3px
		color white
		padding 5px
		margin 4px
		margin-left -4px
		font-size 14px
	
	> .icon
		flex-shrink 0
		width 30px
		text-align center
		overflow hidden
		white-space nowrap
		text-overflow ellipsis
		padding 0 9px 0 3px
		color white
		font-weight 700
		line-height 30px

.tooltip-inner
	max-width: 300px;
