.progNoteDetailView
	overflow auto

	> .noSelection
		padding 200px 0

		color #888
		text-align center

	> .basicSection
		> .sectionName
			border-bottom 2px solid hsl(202, 34%, 85%)

			padding 10px 20px

			font-size 24px
			font-weight 300

		> .history
			padding-top 20px

			> .revision
				padding 0 20px 20px

				> .timestamp
					padding-bottom 4px

					color #888
					font-weight 600
