.programManagerTab
	
	.options
		text-align right !important
		padding 15px
		
	.btn > .badge
		margin-left 5px
		
	table
		margin-bottom 0px
		
		tbody 
			> tr
				&:hover .optionsCell .btn-group
					visibility visible !important

				> td
					&:last-child
						text-align right
						
					&.colorKeyCell > span
						display block
						width 25px
						height 25px
						border-radius 12.5px
						
					&.numberClientsCell
						.fa
							float left
							margin-right 5px
							margin-top 3px
							
					&.optionsCell .btn-group
						visibility hidden
						
						.fa
							margin-left 5px