.programManagerDialog
	
	.noData
		width 250px
		text-align center
		
		> span
			font-size 16px
			padding 15px
			display block
				
	.hasData
		width 500px
		
		.options
			text-align right !important
			padding 15px
			
		.btn > .badge
			margin-left 5px
			
		table
			margin-bottom 0px
			
			tbody 
				> tr > td
					padding 5px 15px
					
					&:first-child
						width auto
						
					&:last-child
						text-align right
						
					.programName
						&:hover
							cursor pointer
						.fa
							font-weight normal
							margin-right 10px
			
			