.progNoteDetailView
	display flex
	flex-direction column

	> .noSelection
		padding 200px 50px

		color #888
		text-align center

	> .itemName
		border-bottom 2px solid hsl(202, 34%, 85%)

		padding 10px 20px

		font-size 24px
		font-weight 300

	> .history
		flex 1

		overflow auto

		padding 20px

		> .entry
			padding 25px 0
			border-bottom 1px solid #cadbe5
			
			&:first-child
				padding-top 10px
			
			> .header
				padding-bottom 10px
			
				> .author
					font-weight 700
					
					> .fa
						color #cadbe5
						font-size 1.2em
						margin-right 10px

				> .timestamp
					float right

					color #888
					font-weight 700
