.dialogContainer
	
	&.warning
		background hsla(23, 100%, 50%, 0.5)
	
	.timeoutDialog
		max-width 500px
		
		.message
			text-align center
	
		.timeRemaining
			font-weight bold
			display block
			font-size 1.5em
		
	