.amendGlobalEventDialog
	padding 10px
	max-width 500px

	p
		padding-bottom 10px

	.flaggedNames
		padding-bottom 15px

		.fa
			margin-right 10px

	input, textarea
		margin 8px 0

	textarea
		max-height 250px