.attachmentView
	display inline-block
	padding-right 15px

	color #337ab7
	font-weight 500

	&:hover
		text-decoration none

		> span
			opacity 1 !important
			text-decoration underline

	i
		padding 2.5px

	i.removeBtn
		color #666

		&:hover
			color red
