.clientAlerts
	background inherit
	width 100%
	cursor default
	padding 10px 20px 10px 30px
	font-size large
	margin 0

	transition all .25s ease

	&:hover
		background-color #343a40

	.fa
		margin-right 5px

	#alertsContainer
		padding-top 0

		#staticContent
			padding 20px
			font-size 14px
			font-weight 400
			word-wrap break-word
			max-height 175px
			overflow auto
			transition opacity .25s ease
			color #ff6b6b

		.alertsTextarea
			padding 10px
			margin-top 10px
			background-color #495057
			width 100%
			border 0
			font-size medium

		.btn-toolbar
			padding 15px 5px

		.expandingTextAreaComponent
			max-height 150px !important
			overflow auto