.clientAlerts
	position absolute
	bottom 0px
	border-top 2px solid #cadbe5
	background inherit
	width 100%
	cursor default

	transition all .5s ease

	&:hover
		background darken(sidebar-bg, 5%)

	h3
		padding 15px 20px
		font-size 18px
		margin 0

		.fa
			margin-right 5px

	#alertsContainer
		padding-top 0

		#staticContent
			padding 0px 10px 15px 20px
			word-wrap break-word
			max-height 175px
			overflow auto
			transition opacity .25s ease

			&:hover
				opacity .75

		.alertsTextarea
			padding 5px
			width 100%
			border 0

		.btn-toolbar
			padding 15px 5px

		.expandingTextAreaComponent
			max-height 150px !important
			overflow auto