.filterBar
	display flex
	background #eaf1f5
	color rgb(76, 93, 103)
	padding-right 20px
	height 50px

	input.form-control
		border none
		box-shadow none
		background none
		padding 10px 20px
		height 100%

	.closeButton
		display flex
		justify-content center
		align-items center

		.fa
			font-size 1.5em
			float right
			transition opacity .2s ease
			padding 5px

			&:hover
				opacity 0.75