.filterBar
	display flex
	padding 5px 20px
	background #eaf1f5
	color rgb(76, 93, 103)

	.closeButton
		display flex
		justify-content center
		align-items center

		.fa
			font-size 1.5em
			float right
			transition opacity .2s ease
			padding 5px

			&:hover
				opacity 0.75

	input.form-control
		border none
		box-shadow none
		background none
		padding 0