logo-maroon = #892652
logo-teal = #70b0d3
logo-light-blue = #83c4ea
sidebar-bg = hsl(hue(logo-light-blue), 35%, 94%)
sidebar-borders = darken(sidebar-bg, 10%)

.loadingSpinnerContainer
	height 100%

	.preloaderSpinner
		height 100%
		display flex
		justify-content center
		align-items center

	.spinnerContainer
		display flex
		justify-content space-around
		margin 100px auto
		width 50px
		height 40px
		text-align center

		> div
			background-color #337ab7
			height 100%
			width 6px
			display inline-block
			-webkit-animation sk-stretchdelay 1.2s infinite ease-in-out
			animation sk-stretchdelay 1.2s infinite ease-in-out

	.spinnerContainer .rect20
		-webkit-animation-delay -1.1s
		animation-delay -1.1s

	.spinnerContainer .rect30
		-webkit-animation-delay -1.0s
		animation-delay -1.0s

	.spinnerContainer .rect40
		-webkit-animation-delay -0.9s
		animation-delay -0.9s

	.spinnerContainer .rect50
		-webkit-animation-delay -0.8s
		animation-delay -0.8s

	@-webkit-keyframes sk-stretchdelay
		0%, 40%, 100%
			-webkit-transform scaleY(0.4)
		20%
			-webkit-transform scaleY(1.0)


#container > .clientFilePage
	background white
	position relative
	display flex
	flex-direction column
	height 100%

	> .readOnlyNotice
		display flex
		background rgba(255, 174, 0, 0.5)
		border-bottom 2px solid sidebar-borders

		color #515151

		> .notice
			transition all .25s ease
			padding 5px 10px
			flex 4

			&.clickable:hover
				background #94F27F
				cursor default

		> .mode
			padding 5px 10px
			flex 1
			text-align center

			background sidebar-borders
			color hsl(hue(sidebar-bg), 15%, 35%)

	> .wrapper
		height 100%
		display flex

		> .sidebar
			display block
			flex-direction column
			position relative
			text-align center

			width 250px

			border-right 2px solid sidebar-borders

			background sidebar-bg
			color hsl(hue(sidebar-bg), 15%, 35%)

			> div
				text-align left

			@require 'clientAlerts' // TODO: combine with other requires

			.brandContainer
				position absolute
				left 0px
				bottom 0px
				width 100%

				.logoKonode
					margin-left 45px



			> img
				margin 0 auto

				max-width 150px

				padding 15px 20px 5px

			> .logoSubtitle
				color hsl(202, 15%, 55%)
				font-size 20px
				text-align center

			> .clientName
				width 100%
				padding 21px 20px 20px

				font-size 24px
				text-align center

				> .clientNameField
					cursor default
					&:hover
						opacity 0.6


				> a
					cursor default
			> .inactiveStatus
				width 100%
				color orange
				font-size 18px
				text-align center
				padding-bottom 15px


			> .dischargedStatus
				width 100%
				font-size 18px
				text-align center
				color red
				padding-bottom 15px

				> .clientNameField
					cursor default

				> a
					cursor default

			> .recordId
				display flex

				padding 0px 15px 15px
				justify-content center

				opacity 0.75
				font-weight 400

			> .programs
				text-align center
				padding 0px 15px 15px

				> span
					border-bottom 2px solid transparent
					padding-bottom 2px
					margin 5px
					display inline-block

			> .tabStrip
				width 100%
				text-align left

				> .tab
					padding 15px 20px

					cursor default
					font-weight 600

					&:hover
						background darken(sidebar-bg, 5%)

					&.active
						background darken(sidebar-bg, 5%)

					> .fa
						padding-right 5px

		> .view
			flex 1
			display flex
			overflow auto

			@require 'planTab'
			@require 'progNotesTab'
			@require 'analysisTab'
			@require 'infoTab'
			@require 'flexButtonToolbar'

