.infoView
	.basicInfo
		padding 10px 25px 5px 10px
	.basicFields
		display flex
		flex-wrap wrap


		> .form-group
			padding-right 15px

			.form-control
				width 280px

	.detailUnitGroups
		padding 10px 25px 5px 10px

		.detailFields
			// width 50%

			display flex
			flex-wrap wrap

			> .form-group
				padding-right 15px

			.form-control
				width 280px


