.infoView
	flex 1
	display flex

	> .leftSide
		flex 1
		overflow inherit
		display flex
		flex-direction column

	.basicInfo
		padding 10px 40px 5px 40px

	.basicFields
		display flex
		flex-wrap wrap

		> .form-group
			padding-right 15px

			.form-control
				width 320px

	.detailUnitGroups
		border-left 2px solid sidebar-borders
		overflow-y auto
		overflow-x hidden

		.detailUnitGroup
			padding 10px 40px 5px 40px

		> .heading
			overflow visible
			display flex
			padding 15px
			padding-left 19px
			height 60px
			min-height 60px

			border-bottom 1px solid hsl(202, 34%, 85%)

			section.title
				flex 1
				text-align right
				font-size 20px
				color rgb(76, 93, 103)


		.detailFields
			display flex
			flex-wrap wrap

			> .form-group
				padding-right 15px

			.form-control
				width 280px


