.infoView
	padding-left 3%
	padding-right 3%


	.basicInfo
		display flex
		flex-wrap wrap

		> .form-group
			padding-right 15px

	.detailUnitGroups

		.detailFields
			// width 50%

			display flex
			flex-wrap wrap

			> .form-group
				padding-right 15px
