.planTargetHistory	

	> .heading
		padding 15px
		padding-left 25px
		
		font-size 24px
		font-weight 300

	> .noRevisions
		padding 20px

		color #888
		text-align center

	> .revisions		
		
		> section.revision
			position relative
			padding 25px

			border-bottom 1px solid sidebar-borders
			
			.header
				display flex
				flex-direction row

				.author
					flex 1
					font-weight 700
					
					> .fa
						color #cadbe5
						font-size 1.2em
						margin-right 10px
					
				.timestamp
					text-align right
					font-weight 600
					color #888

			&:last-child
				border-bottom none
				
			.snapshot
				margin-left 23px
				color #515151
				border 1px dashed sidebar-borders
				
				> .name
					padding 5px
					font-size 1.2em
					font-weight 600
					line-height 1.5em
					border-bottom 1px dashed sidebar-borders
					// margin-top 5px
					// margin-bottom 10px
						
				> .description
					padding 5px
					
			&:hover article.entry .snapshotButton
				visibility visible
				
			article.entry
				position relative
				margin-left 23px
				padding 10px 0
				
				> .snapshotButton
					float right
					margin 5px
					margin-right 0
					margin-top -2px
					opacity 0.5
					transition opacity .15s ease
					visibility hidden
					outline none
					
					&:hover
						opacity 1
				
				> .fa
					position absolute
					left 0px
					top 0
					padding-top 12px
					
					color #cadbe5
					font-size 1.1em
					margin-left -23px
					
				> .action
					font-weight 600
					margin-bottom 5px
					
				> .value
					display inline-block
					color #515151
					
					> .added
						background #C0F0C0
						
					> .removed
						text-decoration line-through
						opacity 0.8
					
				> .snapshot
					margin 0 // Required for consistent display