.planTargetHistory
	padding 20px 0

	> .heading
		font-size 24px
		font-weight 300

	> .noRevisions
		padding 20px

		color #888
		text-align center

	> .revisions
		> .revision
			padding 25px 0

			border-bottom 1px solid sidebar-borders

			&:last-child
				border-bottom none

			> .nameLine
				display flex

				padding-bottom 20px

				> .name
					flex 1

					font-weight 700

				> .tag
					font-weight 600
					color #888