.planTargetHistory
	padding 20px 0

	> .heading
		font-size 24px
		font-weight 300

	> .noRevisions
		padding 20px

		color #888
		text-align center

	> .revisions
		
		> section.revision
			padding 25px 0

			border-bottom 1px solid sidebar-borders
			
			.heading
				display flex

				.author
					flex 1
					
				.timestamp
					flex 1
					text-align right

			&:last-child
				border-bottom none
				
			.snapshot
				background yellow
				
			> article.entry
			
				.changeLogEntry
					background #eee

				.nameLine
					display flex

					padding-bottom 20px

					.name
						flex 1

						font-weight 700

					.tag
						font-weight 600
						color #888