.progNotesView
	flex 1
	overflow auto
	display flex
	flex-direction column

	mark
		background yellow
		padding 0

		.popover
			z-index 1001
			max-width none

			.popover-content
				> textarea
					width 500px
					height 300px

				> .buttonBar
					padding 10px 0 0

					text-align right

					> .btn
						margin-left 5px

	.panes
		overflow auto
		display flex
		flex 1

		> section
			flex 1
			display flex
			flex-direction column
			overflow auto

			&.leftPane

				> .empty
					flex 1
					display flex
					text-align center

					> .message
						flex 1
						padding 100px 15% 50px 15%

						color #888
						font-size 16px

						> div
							padding 5px 0

						#resetFilterButton
							outline none

							> .fa
								margin-right 5px

						.colorKeyBubble
							margin-left 6px

							.bubbleContents
								width 1.3rem
								height 1.3rem

						> .btn
							margin-top 50px

							&:last-child
								margin-left 5px

							> .fa
								padding-right 10px


				// quickNote popover styles
				.popover
					max-width none

					.popover-content
						> textarea
							width 500px
							height 300px

						> .buttonBar
							padding 10px 0 0

							text-align right

							> .btn
								margin-left 5px

			&.rightPane
				border-left 2px solid sidebar-borders

		#entriesListView
			flex 1
			overflow-y auto
			overflow-x hidden
			overflow-wrap break-word

			// no top border for the first prognote
			div.progNote:nth-child(2)
				.entryHeader
					border-top none

			.attachment
				color #337ab7
				font-weight 500

			.entry
				margin-right -7px // Offset against selectedTarget left-border

				&.flashDestination
					$duration = 1.25s

					.entryHeader
						animation flashHeader $duration

						.timestamp
							animation bolden $duration


				$highlightColor = darken(sidebar-borders, 25%)

				@keyframes flashHeader
					50%
						padding-left 20px
						margin-left -20px
						border-color #569ace

				@keyframes bolden
					50%
						color black !important
						font-weight 500


			.entryHeader
				display flex

				border-top 6px solid sidebar-borders
				border-bottom 1px dotted #eaf1f5

				position sticky
				top -10px

				background white

				z-index 2

				padding 10px

				font-size 14px
				font-weight 300

				h1
					padding 20px 0 10px 0
					margin 0

				.revisions
					margin-right 10px

				> div
					display flex
					align-items center

				> .timestamp
					flex 1
					display flex
					align-items center

					.lateTimestamp
						color darkRed
						font-size 0.8 em
						display inline-block
						padding-left 4px

				> .options
					.entryHeaderDropdown
						padding 1px 10px !important
						margin-bottom -3px
						border-radius 15px
						padding 2px 10px 2px 10px
						border 0
						margin-left 5px

					.dropdown-menu
						min-width 90px
						text-align right
						margin-top 9px
						border-top-right-radius 0px
						border-top-left-radius 0px
						border-top 0

				.colorKeyBubble > .bubbleContents
					width 10px
					height 10px
					margin-left 0.5em

				.selectProgNoteButton
					opacity 0.75
					color rgb(76, 93, 103)
					margin-left 10px
					cursor default

					&:hover
						opacity 1
						text-decoration none
						color #3176aa


			> .cancelStub
				border-top 6px solid #cadbe5
				background #f3f3f3
				padding 12px 10px

				> .toggleDetails
					float right

				> h3
					margin 0
					padding 0 0 20px

					font-size 14px
					color darkred

				> .details
					> h4
						margin 0

						padding 10px 0

						font-size 14px

					> .reason
						padding 0 10px

						font-style italic

					> .progNote
						padding 20px 0 0 !important
						opacity 0.7


			> .globalEventView
				padding-bottom 30px

				h3
					font-size 22px
					font-weight 200
					padding-left 10px

					.fa
						color #07488b
						margin-right 14px

				p
					padding-left 10px

			> .progNote, > .cancelStub > .details > .progNote
				flex 1

				padding-bottom 30px

				> .notes
					padding 10px

					> div // Quick Note
						position relative
						cursor default
						border-left 2px solid rgba(255,255,255, 0) // avoid reflow when added on select
						transition all .25s ease
						padding-left 0px
						padding-right 20px

				&:hover .progNoteToolbar
					opacity 1

					.revisions // selectedItem styling applied inline (InlineSelectedItemStyles)
						margin-right 0

				.progNoteList
					position relative
					padding 0px 10px

					h1, h2, h3
						margin 0

					.progEvents

						h3
							padding-top 20px
							padding-bottom 5px
							font-size 22px
							font-weight 100
							text-transform uppercase

					> .unit

						&:last-child
							padding-bottom 0px

						h1
							padding 15px 0
							font-size 28px

						h2
							padding 10px 0
							font-size 22px
							font-weight 100
							text-transform uppercase

						h3
							padding 6px 0
							font-weight 600
							font-size 18px
							text-transform uppercase

						.notes
							overflow-wrap break-word

							.starred
								font-weight 600
								background-color yellow

						&.basic // selectedItem styling applied inline (InlineSelectedItemStyles)
							margin-top 10px
							cursor default
							border-left 2px solid rgba(255,255,255, 0) // avoid reflow when added on select
							transition all .25s ease
							padding-left 0px
							padding-right 20px

							h3
								margin 0
								font-size 22px
								font-weight 100
								text-transform uppercase

							> .empty
								padding 0 2px
								color #888

							> .metrics
								padding-top 5px

							.notes
								padding-left 6px

						&.plan
							> .empty
								padding 0 2px
								color #888

							h3
								font-size 12px

							section
								&:first-child
									padding-top 10px

								> .target // selectedItem styling applied inline (InlineSelectedItemStyles)
									cursor default
									margin-bottom 15px
									border-left 2px solid rgba(255,255,255, 0) // Avoid reflow when selectedItem
									transition all .25s ease
									padding-left 6px
									padding-right 20px

									> .empty
										padding 0 2px

										color #888

									> .metrics
										display flex
										flex-wrap wrap

										margin -5px

										padding-top 5px

										> .metricWidget
											margin 5px


	@require entryDateNavigator
