.progNoteContents
	position relative

	h1, h2, h3
		margin 0

	// TODO: Refactor styles against progNoteContents components
	.progEvents

		h3
			padding-top 20px
			padding-bottom 5px

	> .unit

		&:last-child
			padding-bottom 0px

		h1
			padding 15px 0
			font-size 28px

		h2
			padding 10px 0
			font-size 22px
			font-weight 100

		h3
			padding 6px 0
			font-weight 600
			font-size 18px
			opacity 0.75

		.notes
			overflow-wrap break-word

			.starred
				font-weight 600
				background-color yellow

		&.basic // selectedItem styling applied inline (InlineSelectedItemStyles)
			margin-top 10px
			cursor default
			border-left 2px solid rgba(255,255,255, 0) // avoid reflow when added on select
			padding-left 0px

			h3
				margin 0
				font-size 14px

			> .empty
				padding 0 2px
				color #888

			> .metrics
				padding-top 5px

		&.plan
			> .empty
				padding 0 2px
				color #888

			h3
				font-size 14px

			section
				&:first-child
					padding-top 10px

				> .target // selectedItem styling applied inline (InlineSelectedItemStyles)
					cursor default
					margin-bottom 15px
					border-left 2px solid rgba(255,255,255, 0) // Avoid reflow when selectedItem
					transition all .25s ease
					padding-left 0px
					padding-right 20px

					> .empty
						padding 0 2px
						color #888

					> .notes
						transition all .25s ease

					> .metrics
						display flex
						flex-wrap wrap

						margin -5px
						padding-top 5px

						> .metricWidget
							margin 5px


// TODO: Break up all other progNoteContents components like this
.quickNoteView
	.notes
		transition all .25s ease
		cursor default
		padding-right 20px
		border-left 2px solid rgba(255,255,255, 0) // avoid reflow when added on select
		margin-top 10px

	.attachments
		padding 10px 0 5px 0