.progNotesView
	flex 1
	display flex
	flex-direction column

	> .toolbar
		border-bottom 2px solid sidebar-borders

		.btn
			margin 20px
			margin-right 0
			outline none

			&.btn-link
				padding-left 0
				padding-right 0

			> .fa
				padding-right 8px

			&.saveRevisingProgNote
				transition all .25s ease
				padding 6px 30px

		.popover
			z-index 1001
			max-width none

			.popover-content
				> textarea
					width 500px
					height 300px

				> .buttonBar
					padding 10px 0 0

					text-align right

					> .btn
						margin-left 5px

	> .panes
		display flex
		flex 1

		> .historyEntries
			flex 1
			overflow auto

			padding 10px 20px

			.entryHeader
				display flex

				border-bottom 2px solid sidebar-borders

				padding 5px 0

				font-size 24px
				font-weight 300

				h1
					padding 20px 0 10px 0
					margin 0

				> .timestamp
					flex 1

					.colorKeyBubble > .bubbleContents
						opacity 0.5
						width 0.5em
						height 0.5em
						margin-right 0.5em

				.selectProgNoteButton
					color sidebar-borders
					margin-left 10px
					cursor pointer

					&:hover
						color inherit
						text-decoration underline


			> .empty
				text-align center

				> .message
					padding 100px 80px 50px

					color #888
					font-size 16px

				> .btn
					clear both
					margin 15px

					> .fa
						padding-right 10px

				> .popover
					max-width none

					.popover-content
						> textarea
							width 500px
							height 300px

						> .buttonBar
							padding 10px 0 0

							text-align right

							> .btn
								margin-left 5px

			> .cancelStub
				margin 0 -6px 20px

				border 1px solid hsl(22, 85%, 80%)
				border-radius 3px

				background hsl(22, 85%, 93%)

				padding 11px 14px

				> .toggleDetails
					float right

				> h3
					margin 0

					padding 0 0 10px

					font-size 16px
					font-weight 700

				> .details
					> h4
						margin 0

						padding 10px 0

						font-size 14px

					> .reason
						padding 0 10px

						font-style italic

					> .progNote
						padding 20px 0 0 !important


			> .globalEventView
				padding-bottom 30px

				h3
					.fa
						color #07488b
						margin-right 6px

				p
					padding-left 28px

			> .progNote, > .cancelStub > .details > .progNote
				flex 1

				padding-bottom 30px

				> .notes // Quick Note
					position relative
					padding-top 15px

				&:hover .progNoteToolbar
					opacity 1

					.revisions
						margin-right 0

				.progNoteToolbar
					display flex
					opacity 0
					transition all .15s ease
					z-index 1000

					background none
					position absolute
					top 0
					right 0

					border-bottom-left-radius 10px

					&.active // Solid background for revisions if viewing
						background sidebar-borders

						.revisions a
							text-decoration none !important

					> div
						padding 5px

					.revisions
						transition margin-right .25s cubic-bezier(0, 0, 0.2, 1) // Linear out, slow in
						margin-right -20px

					.actions
						display flex
						background white

						border-bottom 2px solid sidebar-borders
						border-left 2px solid sidebar-borders
						border-bottom-left-radius 10px

					a, button
						cursor pointer
						color #274B6B
						opacity 0.75
						transition all .15s ease
						display inline-block

						padding 2px 8px

						&:hover
							opacity 1
							color black


				.progNoteList
					position relative

					h1, h2, h3
						margin 0

					.progEvents

						h3
							padding-top 20px

					> .unit
						padding-bottom 20px

						&:last-child
							padding-bottom 0px

						h1
							padding 15px 0
							font-size 28px

						h2
							padding 10px 0
							font-size 22px
							font-weight 100

						h3
							padding 6px 0
							font-weight 600
							font-size 18px
							opacity 0.75

						.notes
							overflow-wrap break-word

						&.basic
							cursor default

							&.selected h3
								color #337ab7

							h3
								transition all .15s ease
								padding 20px 0 10px 0
								margin 0
								font-size 22px

								&:hover
									opacity 0.85

							> .empty
								padding 0 2px
								color #888

							> .metrics
								padding-top 5px

						&.plan
							> .empty
								padding 0 2px
								color #888

							section
								> .target
									cursor default
									padding-left 15px
									margin-bottom 20px
									border-left 2px solid #eee
									transition all .15s ease

									&:hover
										border-left-color #B6B6B6

										h3
											opacity 0.75

									&.selected
										border-left-color #337ab7
										padding-left 20px

										h3
											color #337ab7

									> .empty
										padding 0 2px

										color #888

									> .metrics
										display flex
										flex-wrap wrap

										margin -5px

										padding-top 5px

										> .metricWidget
											margin 5px

		> .progNoteDetailView
			flex 1

			border-left 2px solid sidebar-borders
