.planTarget
	padding 10px
	border 1px dashed rgba(0,0,0,0.5)
	margin-top 5px
	border-radius 5px
	cursor move
	transition all .25s ease

	&.isDragging
		background #eaf1f5
		opacity 0.75

	&.collapsed
		height 0px
		overflow hidden
		padding 0
		margin 0
		border 0