.planSection
	padding 15px
	border 1px dashed #cadbe5
	border-bottom 0
	cursor move
	transition all .25s ease

	&.isDragging
		background #eaf1f5
		opacity 0.75

	&:not(.collapsed):last-child
		border-bottom 1px dashed #cadbe5

	&.collapsed
		height 0px
		overflow hidden
		padding 0
		margin 0

	h4
		margin-top 0	// Default dragSource styling for the arrow icon
	.dragSource
		display flex
		align-items center
		justify-content center

		min-width 40px
		cursor move
		opacity .5
		transition opacity .15s ease
		padding 15px
		border-right 1px solid transparent

		&:hover
			background #eaf1f5
			border-color #cadbe5
