.planSection
	border 1px dashed #cadbe5
	border-bottom 0
	transition all .25s ease

	&.isDragging
		background #eaf1f5
		opacity 0.75

		.sectionDragSource
			cursor move
			border-color #eaf1f5 !important

	&.hasTargets
		.sectionNameContainer
			padding-bottom 5px

	&:not(.collapsed):last-child
		border-bottom 1px dashed #cadbe5

	&.collapsed
		height 0px
		overflow hidden
		padding 0
		margin 0

	.sectionDragSource
		border-bottom-right-radius 5px
		border-bottom 1px solid transparent

	&:hover
		.sectionDragSource
			opacity 1

	.sectionNameContainer
		display flex

		.name
			font-size 1.25em
			padding-left 10px
			display flex
			align-items center

			&:hover
				cursor default
				text-decoration underline


	.targets
		padding 15px
		padding-top 0

	// Default dragSource styling for the arrow icon
	.dragSource
		display flex
		align-items center
		justify-content center

		min-width 40px
		cursor move
		opacity .5
		transition opacity .15s ease
		padding 15px
		border-right 1px solid transparent

		&:hover
			background #eaf1f5
			border-color #cadbe5
