.eventView
	display none
	position absolute
	top 0px
	left -250px
	width 250px
						
	color black
	background white
		
	> form
		
		> .form-group
			position relative
				
			// Shifts datetimepicker to left
			.bootstrap-datetimepicker-widget.dropdown-menu
				right 50% !important
			