#container > .newProgNotePage
	display flex

	height 100%

	> .loadError
		width 100%

		padding 200px

		text-align center

		> div
			> .btn
				margin 50px

	> .progNote
		flex 1
		overflow auto

		padding 20px
		
		.btn > .fa
			padding-right 8px

		> .sections
			> .section
				> .name
					font-size 24px
					font-weight 400

				&.basic
					> .metrics
						display flex
						flex-wrap wrap

						margin -3px

						padding-top 5px

						> .metricWidget
							margin 3px

				&.plan
					> .empty
						padding 0 2px

						color #888

					> .targets
						> .target
							> .name
								margin 10px 0 5px

								color #666
								font-size 16px
								font-weight 600

							> .metrics
								display flex
								flex-wrap wrap

								margin -3px

								padding-top 5px

								> .metricWidget
									margin 3px

		> .buttonRow
			padding 20px

			text-align center

	> .progNoteDetailView
		flex 1
		
	> .eventsPanel		
		
		> .eventsList
			max-height 100%
			
			&.editMode .icon
				opacity 0.5
			
			> .eventTab
				position relative
				background white
				
				> .icon
					width 50px
					height 50px
					background green
					border-radius 25px
					
					color white
					
				&.isEditing .icon					
					background white
					color black
				
				> .info
					display none
					position absolute
					top 0px
					left -250px
					width 250px
										
					color black
					background white
					
					input
						position relative
						
					// Shifts datetimepicker to left
					.bootstrap-datetimepicker-widget.dropdown-menu
						right 50% !important
					
				&:hover, &.isEditing
					
					> .info
						display block						
						
				&:hover > .info
					z-index 9999
					
				
					
				
