#container > .newProgNotePage
	display flex

	height 100%

	> .loadError
		width 100%

		padding 200px

		text-align center

		> div
			> .btn
				margin 50px

	> .progNote
		flex 1
		overflow auto

		padding 20px
		
		.btn > .fa
			padding-right 8px

		> .sections
			> .section
				> .name
					font-size 24px
					font-weight 400

				&.basic
					> .metrics
						display flex
						flex-wrap wrap

						margin -3px

						padding-top 5px

						> .metricWidget
							margin 3px

				&.plan
					> .empty
						padding 0 2px

						color #888

					> .targets
						> .target
							> .name
								margin 10px 0 5px

								color #666
								font-size 16px
								font-weight 600

							> .metrics
								display flex
								flex-wrap wrap

								margin -3px

								padding-top 5px

								> .metricWidget
									margin 3px

		> .buttonRow
			padding 20px

			text-align center

	> .progNoteDetailView
		flex 1
