#container > .newProgNotePage
	padding 20px

	> .sections
		> .section
			> .name
				font-size 24px
				font-weight 400

			&.plan
				> .empty
					padding 0 2px

					color #888

				> .targets
					> .target
						> .name
							margin 10px 0 5px

							color #666
							font-size 16px
							font-weight 600

	> .buttonRow
		padding 20px

		text-align center

		> .btn > .fa
			padding-right 8px
