#planView
	position relative
	flex 1
	overflow-y auto
	overflow-x hidden
	padding-bottom 25px

	// TODO: Make this multi-use (it's used again in targets!)
	&.status-completed, &.status-deactivated
		padding 0

	.inactiveSectionHeader
		cursor default
		font-size 16px
		opacity 0.8
		transition opacity .15s ease

		&:hover
			opacity 1

		.fa
			font-size 1.25em
			padding 12px 8px
			transform rotate(0deg)
			transition transform .25s ease

			&.expanded
				transform rotate(90deg)