.accountManagerDialog
	min-width 800px
	min-height 500px
	max-height 95%

	text-align center

	> div
		> .btn-toolbar
			margin-bottom 10px

			float right

		> .userTable
			> tbody > tr
				> .userNameCell
					font-weight bold
					vertical-align middle

				> .buttonsCell
					text-align right
					vertical-align middle

.createAccountDialog
	input.form-control, textarea
		width 400px

	> .btn-toolbar
		text-align right
