.brandContainer
	overflow-y hidden
	overflow-x visible
	padding 20px
	
	.logoKN
		height 20px
		display inline-flex
		float left
		
		transition all 1s ease
		transform rotate(-180deg)
		-webkit-filter grayscale(100%)
		opacity 0.5
    
	.logoKonode
		display inline-flex
		height 15px
		width auto
		margin-left 10px
		
		transition all 0.5s ease
		margin-bottom -20px
		opacity 0
		
	&:hover
		.logoKN
			transform rotate(360deg)
			-webkit-filter grayscale(0%)
			opacity 1
		.logoKonode
			margin-bottom 2px
			opacity 1
			
	&.reverse
		.logoKN
			float right
		.logoKonode
			margin-right 10px
			margin-left 0px