.colorKeyBubble
	display inline-block
		
	.bubbleContents
		display flex
		justify-content center
		align-items center
		
		width 30px
		height 30px
		border-radius 50%
		border 2px solid white
		transition border-color .15s ease
		
		&:hover
			border-color hsla(0, 0, 0, 0.3)
			
		.fa
			color white
		