.colorKeyBubble
	display inline-block


	.bubbleContents
		display flex
		justify-content center
		align-items center

		transition all .25s ease
		opacity 1

		background transparent

		width 1em
		height 1em
		border-radius 50%
		border 2px solid white
		padding-top 0.3em

		&.empty
			border-color #cadbe5
			opacity 1 !important

		&:hover
			opacity 1 !important

		.fa
			display block
			flex 1 !important
			color white
			font-size 1.35rem
			margin-top -.4rem
