.colorKeyBubble
	display inline-block


	.bubbleContents
		display flex
		justify-content center
		align-items center

		transition all .25s ease
		opacity 1

		background transparent

		width 1em
		height 1em
		border-radius 50%
		border 2px solid white

		&.empty
			border-color #cadbe5
			opacity 1 !important

		&:hover
			opacity 1 !important

		.fa
			color white
			font-size 0.5em
