.createProgramDialog
	width 250px
		
	#colorPicker
		
		&:hover
			cursor pointer
		
		span
			display block
			border-radius 50%
			
			&.hasColor .fa
				color white
				opacity .5
				
	.clientPicker
		max-height 400px
		overflow auto