.createClientFileDialog
	width 380px

	.optionDropdowns
		display flex

		.programs
			flex 1

			.dropdown-menu
				max-height 115px
				overflow-y auto

			.btn-group
				width 100%
				button
					width 95%
					padding-right 5%

		.templates
			flex 1
			float right
			width 95%
			padding-left 5%
			.template-container
				.dropdown-menu
					max-height 115px
					overflow-y auto

				.btn-group
					width 100%
					button
						width 100%

	.btn-toolbar
		padding-top: 18px
		float right

	.birthdateLabel
		vertical-align middle

	.birthDateSelector
		.btn-group-dropdowns
			width: 100%
			margin-bottom: 15px

			.btn-group
				width: 33.334%
				margin-left: 0px

				#birthMonthDropdown
					width: 100%
				#birthDayDropdown
					width: 100%
				#birthYearDropdown
					width: 100%

	.btnReset
		margin 0px 0px 3px 5px
		padding 0px
		outline none
		text-decoration none
		&:focus
			outline none

	.invisible
		visibility hidden
