.createAccountDialog
	.form-group
		position relative

		.glyphicon
			transition all 0.15s ease
			opacity 0

		&.has-success .glyphicon
			opacity 1

	#programsContainer
		button
			margin-left 5px

			&:first-child
				margin-left 0

		.colorKeyBubble
			margin-right 5px

			.fa
				font-size 0.9em