.dialogContainer
	display flex
	align-items center
	justify-content center

	position fixed
	left 0
	right 0
	top 0
	bottom 0
	z-index 1025 !important

	transition background 0.5s ease
	background hsla(0, 0%, 30%, 0.5)

	&.noPadding .panel-body
		padding 0px !important

	> .dialog
		overflow-y visible
		overflow-x scroll
		max-width calc(100% - 20px)
		max-height calc(100% - 40px)

		box-shadow 0px 5px 15px rgba(0, 0, 0, 0.5)

		// All other panel-* stuff is from Bootstrap
		>.panel-heading
			position relative

			>.panel-quit
				position absolute
				top 0px
				right 0px
				padding 5px 10px
				color #27578C
				font-size 1.25em
				transition color .25s ease

				&:hover
					color white
					cursor default

				&:active
					color #A0A0A0

	.createPlanTemplateDialog
		.inactiveTargetsLabel
			font-weight normal
			padding-left 5px
