.expandedMetricWidget
	align-items center
	cursor default

	border solid
	border-width 1px
	border-color #999
	color #333

	border-radius 3px
	margin 9px 5px 5px 5px
	padding 2px 5px 6px 12px

	> .name
		overflow hidden
		white-space nowrap
		text-overflow ellipsis

		font-weight 700
		line-height 30px

	> .definition
		color black

	.tooltipContent
		text-align left


