.loginPage
	display flex
	flex-direction row
	align-items center
	justify-content center

	height 100%
	background radial-gradient(circle, #1EA1F5, #3175AA)
	color white
	
	>.loginLogo
		flex 1
		padding 5% 1% 5% 26%
		width 250px
		-webkit-filter brightness(100)

	> .autoLogin
		display flex
		flex 1
		text-align center
		align-items center
		font-size 18px

	> .loginForm
		flex 2
		padding 5% 26% 5% 1%

		> .btn-toolbar
			text-align center	
