.loginPage
	height 100%
	display flex
	align-items center
	justify-content center
	background radial-gradient(circle, #1EA1F5, #3175AA)

	color white
	border 2px solid rgba(255,255,255,0.25)
	
	.loginForm
		flex 1
		margin 15%
		text-align center
	
	.logo
		margin 20% 15%
		width 40%
		height auto
		-webkit-user-select none

	.btn-toolbar
		display flex
		
		.btn-link
			font-size .9em
			color white
			opacity .8
			
		button[type=submit]
			transition all .15s ease
		
		> button
			flex 1
