.loginPage
	height 100%
	overflow hidden
	
	display flex
	align-items center
	justify-content center
	background #fff

	color #000
	border 2px solid rgba(255,255,255,0.25)
	
	#loginForm
		flex 1
		margin 15%
		text-align center
	
	#logoContainer
		display inline-block
		// margin 20% 15%
		// width 65%
		height auto
		-webkit-user-select none
		padding 25px
		
		> img
			width 75%
			height auto
		
	#formContainer
		margin-top 20%

		.btn-toolbar
			display flex
			
			.btn-link
				font-size .9em
				color white
				opacity .8
				
			button[type=submit]
				transition all .15s ease
			
			> button
				flex 1
