@require "../lib/bootstrap/dist/css/bootstrap.min.css"
@require "../lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
@require "../lib/bootstrap-slider/dist/css/bootstrap-slider.min.css"
@require "../lib/font-awesome/css/font-awesome.min.css"
@require "../lib/c3/c3.min.css"
@require "../lib/animate.css/animate.min.css"
@require "../lib/react-bootstrap-table/react-bootstrap-table.min.css"

// Override animate.css
.animated
	animation-duration .5s !important

// Override bootstrap
.modal
	&.fade
		.modal-dialog
			transition none !important
			transform none !important

.tooltip-inner
	max-width 400px

// Override cursor actions for app-like feel

a, button, label, th, .btn
	cursor default !important
	-webkit-user-select none !important


html, body
	min-height 500px
	height 100%
	font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif
	// Apple default San Francisco, Win default Segoe, then common ss fonts

#container
	position relative
	display block !important
	height 100%

textarea
	// Allowing resizing usually messes up the layout.
	// See also: ExpandingTextArea
	resize none

// Components
@require crashHandler
@require dialog
@require metricLookupField
@require metricWidget
@require progNoteDetailView
@require revisionHistory
@require spinner
@require brandWidget
@require timeoutDialog
@require printButton
@require colorKeyBubble
@require colorKeySelection
@require programBubbles
@require managerLayer
@require progEventsWidget
@require printPreviewPage
@require programsDropdown
@require responsiveTable

// Pages and Child Components
@require loginPage
@require newInstallationPage

@require clientSelectionPage
@require mainMenu

@require accountManagerTab
@require createAccountDialog

@require myAccountManagerTab

@require exportManagerTab

@require eventTypeManagerTab
@require createEventTypeDialog

@require createClientFileDialog
@require renameClientFileDialog

@require programManagerTab
@require createProgramDialog
@require manageProgramDialog
@require manageProgramClientsView

@require planTemplateManagerTab

@require metricDefinitionManagerTab
@require defineMetricDialog

@require clientFilePage
@require 'clientFilePage/modifyTargetStatusDialog'
@require newProgNotePage
@require 'newProgNotePage/eventTabView'
@require 'newProgNotePage/amendGlobalEventDialog'