@require "fonts.css"

html, body
	min-height 500px
	height 100%

#container
	position relative
	display block !important

	height 100%

	font-family 'Open Sans', sans-serif

textarea
	// Allowing resizing usually messes up the layout.
	// See also: ExpandingTextArea
	resize none


@require crashHandler
@require defineMetricDialog
@require dialog
@require metricLookupField
@require metricWidget
@require progNoteDetailView
@require spinner
@require brandWidget
@require timeoutDialog
@require printButton

@require loginPage
@require newInstallationPage
@require clientSelectionPage
@require managerLayer
@require accountManagerTab
@require programManagerTab
@require myAccountManagerTab
@require createAccountDialog
@require createClientFileDialog
@require renameClientFileDialog
@require createProgramDialog
@require manageProgramClientsDialog

@require orderableTable

@require loginPage
@require clientFilePage
@require newProgNotePage
@require 'newProgNotePage/eventTabView'
@require 'newProgNotePage/newProgNotePage'
@require progEventsWidget
@require printPreviewPage
