.manageProgramDialog
	width 620px
	max-height 100%
	display flex

	> div
		flex 1
		display flex
		flex-direction column

	.modifyProgramViewContainer
		display flex
		justify-content center
		align-items center
		padding-top 15px

	.saveButtonToolbar
		display flex
		margin-top 15px

		> button
			flex 1

	@require modifyProgramView
	@require manageProgramClientsView
