.metricDefinitionManagerTab
	
	.orderableTable
		.tableRow
			
			&:hover .optionsCell .btn-group
				visibility visible !important
						
			.tableCell
				
				&.optionsCell
					justify-content center
					
					.btn-group
						visibility hidden
						
				&:last-child
					flex 0.25