.metricDefinitionManagerTab

	#toggleDisplayDeactivated
		float right
		font-size 14px
		line-height 20px


	.deactivatedAccount
		background #FFD3D3

	.orderableTable
		.tableRow

			&:hover .optionsCell .btn-group
				visibility visible !important

			.tableCell

				&.optionsCell
					justify-content center

					.btn-group
						visibility hidden

				&:last-child
					flex 0.25