.metricLookupField

	> .twitter-typeahead
		display block !important
		text-align center

		> input
			opacity .75
			box-shadow none
			border-radius 5px
			display inline-block !important
			font-size 16px
			font-weight 400
			padding 18px 5px
			border 1px
			background #eaf1f5
			width 50%
			min-width 200px
			text-align center
			border 1px solid #cadbe5
			transition all .5s ease

			&:focus
				background none
				width 100%
				outline 0
				font-size 18px
				padding 30px 5px
				border-radius 0px
				border none
				border-bottom 1px solid #7ecdfc

	.tt-dropdown-menu
		// todo: reverse position when results open near bottom of window
		width 100%

		max-height 250px
		overflow-y auto // scrollable

		margin 12px 0 0

		border 1px solid rgba(0, 0, 0, 0.2)
		border-radius 8px
		box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)

		background white

		.empty
			padding 10px

			color #888
			font-weight 700
			text-align center

		.tt-suggestion
			padding 6px 10px
			cursor default

			&.tt-cursor
				color white
				background hsl(202, 80%, 55%)

				.definition
					color white

			.name
				font-weight 500

			.definition
				color #888

		.createMetricContainer
			position sticky
			bottom 0px
			left 0px
			background white
			padding 10px
			text-align center
