#myAccountManagerTab
	.main
		display flex

		h3
			padding-bottom 15px
			font-weight 300

		& > div
			flex 1
			padding 0px 25px 25px 50px

		.form-group
			position relative
			margin-top 25px

			.glyphicon
				transition all 0.15s ease
				opacity 0
			&.has-success .glyphicon
				opacity 1
