#newInstallationPage	
	height 100%
	display flex
	flex-direction column
	justify-content center
	align-items stretch
	
	overflow hidden
	color #333
	
	section
		display flex
		flex-direction column
		
		height 100%
		
		align-items center
		justify-content center
		
		> #brandContainer
			flex 9
			text-align center
			margin-bottom -50px
			display flex
			flex-direction column
			justify-content center
			
			> div
			
				img
					height 185px
					width auto
					
				#version
					font-size 18px
					line-height 26px
					font-weight 300
					letter-spacing 2px
				
		
		> #contentContainer
			display flex
			flex-direction column
			flex 8
			padding 25px
			align-items center

			#passwordFields
				margin 25px 0
				
				label
					font-weight 400
					color #333

			> div
				display flex
				flex-direction column
				align-items center
					
				h2
					padding-bottom 15px
					border-bottom 1px solid #1E81CB
					
				p
					font-size 19px
					line-height 1.75em
					
					font-weight 400
					text-align center
					
				.form-group					
					position relative
					
					.glyphicon
						opacity 0
					&.has-success .glyphicon
						opacity 1
					
				.btn .fa 
					margin-left 15px
					
		> #helpContainer
			flex 1.5
			text-align center
			
			span, a
				opacity .8
			
			a				
				color #333
				text-decoration underline
				margin-left 5px
				transition all .25s ease
				
				&:hover
					opacity 1