.planTemplateManagerTab
    > .footer
        > .importTemplatesLink
            display block

            padding 20px 25px

            color #777
            cursor pointer
            text-decoration underline

            transition color 0.2s

            &:hover
                color #333


// TODO: Extract to component
#modifyPlanTemplateDialog
	min-width 300px

	h4
		text-align center
