.printPreview
	background white
	height 100%
	
	.printObj
		padding 25px

		> header
			display flex			
			width 100%
			padding-bottom 15px
			border-bottom 3px dotted #eee

			> .basicInfo
				flex 1
				
				> .title
					margin-top 0
					
					> .fa
						margin-right 10px
					
				> .clientName
					font-weight 700
					font-size 26px
					
				> .clientRecordId
					font-weight 500

			> .authorInfo
				flex 1
				text-align right
					
				> ul
					list-style none
					font-size 16px
					margin 0
					padding 0
					margin-top 5px
					
					> li
						list-style none
						
						> .fa
							float right
							margin-left 5px
						
						> .author
							font-weight bold
							
						&.date
							font-size 15px
							font-weight 600
							
						&:not(.date)
							text-decoration underline
							
			> .brandLogo
				width 150px
				display flex
				justify-content center
				align-items center
				
				> div
					flex 1
					text-align center
				
				img
					-webkit-filter grayscale(100%)
					width 100px
					height auto
					margin auto 0px
							
		h1
			font-size 24px
			margin 15px 0 5px			
			font-weight 600
			
		h2
			font-size 20px
			font-weight 100
			
		h3
			color #666
			font-size 18px
			font-weight 600
			
			
		> .progNote.basic
			> .notes
				padding 20px 0

				> br
					display block

		> .progNote.full
				
		.unit
			padding-bottom 15px
			border-bottom 1px solid #C9C9C9
			
			> .name
				font-size 22px
				font-weight 400

			&.basic
				> .name
					cursor pointer

				> .empty
					padding 0 2px

					color #888
					
				h3
					font-size 20px

				> .metrics
					padding-top 5px

			&.plan, &.planTargets
				> .empty
					padding 0 2px

					color #888
					
				section
					.target
						display block
						vertical-align top
						padding 0 15px

						> .empty
							padding 0 2px

							color #888
							
						> .metrics
							display flex
							flex-wrap wrap

							margin -5px

							padding-top 5px

							> .metricWidget
								margin 5px
								background none
								border 1px solid #999999
								
								.fa
									color #9F9F9F
								
								> .name
									color black
								
								> .value
									color black
									background none
									border 1px solid #707070
