.printButton
	background none
	border 0px !important
	
	> .fa
		margin-left 5px
	
	> span
		opacity 0
		transition all .25s ease
	
	&:hover, &:focus
		outline none
		background none
		color #286090
		
		> span
			opacity 1