.progEventWidget

	&.large, &.print
		margin-top 15px
		padding-left 25px

		.title
			font-weight 600
			font-size 18px

			> .fa
				float left
				margin-left -25px
				color #07488b

		.description
			color #000

		.date
			color #888

	// Black & White printing
	&.print
		.fa
			color #000 !important

	&.small
		cursor default
		display inline-block
		align-items center
		height 30px
		background #848484
		border-radius 3px
		color white
		padding 5px 10px
		margin 8px
		margin-left 0px

		font-size 14px

		> .fa
			margin-right 6px

	// Hover Tooltip
	.tooltip-inner
		max-width 300px
