.programManagerTab
	
	.options
		text-align right !important
		padding 15px
		
	.btn > .badge
		margin-left 5px
		
	.orderableTable
		margin-bottom 0px
			
		.tableCell
			&:first-child, &:last-child
				flex 0.5
		
		.tableBody
			
			.tableRow
				
				.optionsCell .btn-group
					visibility hidden
				
				&:hover .optionsCell .btn-group
					visibility visible !important				
						
					&.numberClientsCell
						text-align left
						.fa
							float left
							margin-right 5px
							margin-top 3px
							
					&.optionsCell
						text-align right