.progNoteDetailView
	display flex
	flex-direction column
	max-width 50%

	.revisionHistory
		flex 1

	> .noSelection
		padding 200px 50px

		color #888
		text-align center

	> .itemDetails
		cursor default
		border-bottom 2px solid hsl(202, 34%, 85%)

		.itemName
			padding 15px

			.toggleDescriptionButton
				cursor default
				float right
				margin-top 15px
				opacity 0.5
				transition opacity .15s ease
				color #666

				&:hover
					text-decoration underline

			&:hover .toggleDescriptionButton
				opacity 1

			h3
				margin 10px 0
				font-size 24px
				font-weight 300

		.itemDescription
			padding 15px
			padding-top 0
			max-height 130px
			overflow auto

	> .history
		flex 1

		overflow auto

		> .entry
			padding 25px 20px
			border-bottom 1px solid #cadbe5

			&.highlighted
				background #FFFFDD

			&.isHovered
				background #FFFFC2
				border-bottom-color #BDA045

			.notes
				overflow-wrap break-word

			> .metrics
				display flex
				flex-wrap wrap

				margin -5px

				padding-top 5px

				> .metricWidget
					margin 5px

			> .header
				padding-bottom 10px

				> .author
					font-weight 700

					> .fa
						color #cadbe5
						font-size 1.2em
						margin-right 10px

				> .timestamp
					float right

					color #888
					font-weight 700

					.colorKeyBubble > .bubbleContents
						margin-left 0.5em