.progEventWidget
	position relative

	&.large, &.print
		margin-top 15px
		padding-left 35px

		.iconContainer
			position absolute
			left 0px
			top 3px
			font-size 15px
			background none
			border-radius 12.5px
			width 25px
			height 25px
			display flex
			align-items center
			justify-content center
			padding-bottom 1px // Better v-centering

			.fa
				color black

		> div
			padding-bottom 5px

		.eventTypeTitleContainer
			display flex
			position relative
			align-items center

			.eventType
				padding-right 8px

				span
					border-bottom 2px solid transparent

			.title
				flex 1
				font-weight 500


				.eventTypeName
					font-weight 300 !important

		.description
			color #000

		.date > span
			color #888


	// Black & White printing
	&.print
		.iconContainer
			background none !important

		.fa
			color #000 !important

	&.small
		cursor default
		display inline-block
		align-items center
		height 30px
		background #848484
		border-radius 3px
		color white
		padding 5px 10px
		margin 8px
		margin-left 0px

		font-size 14px

		> .fa
			margin-right 6px

	// Hover Tooltip
	.tooltip-inner
		max-width 300px
