.progNoteDetailView
	display flex
	flex-direction column

	> .noSelection
		padding 200px 50px

		color #888
		text-align center

	> .itemName
		border-bottom 2px solid hsl(202, 34%, 85%)

		padding 10px 20px

		font-size 24px
		font-weight 300

	> .history
		flex 1

		overflow auto

		> .entry
			padding 25px 20px
			border-bottom 1px solid #cadbe5
				
			&.highlighted
				background #FFFFDD
				
			&.isHovered
				background #FFFFC2
				border-bottom-color #BDA045
			
			> .metrics
				display flex
				flex-wrap wrap

				margin -5px

				padding-top 5px

				> .metricWidget
					margin 5px

			> .header
				padding-bottom 10px
			
				> .author
					font-weight 700
					
					> .fa
						color #cadbe5
						font-size 1.2em
						margin-right 10px

				> .timestamp
					float right

					color #888
					font-weight 700
