.dialogContainer

	.timeoutDialog
		max-width 500px

		.message
			text-align center

		.timeRemaining
			font-weight bold
			display block
			font-size 1.5em

	&.warning
		background hsla(23, 100%, 50%, 0.5)

	&.timedOut
		background hsla(100%, 100%, 100%, 1)

		.panel-quit
			display none

		.panel-title
			text-align center

		form
			margin-bottom 0px

			input[type=password]
				font-size 14px
				padding 5px
				margin 15px
				text-align center

			.btn-toolbar button
				margin 5px auto

