.userProgramDropdown
	z-index 9999

	.dropdown

		button
			text-decoration none !important

			&:link, &:hover, &:visited, &:active
				text-decoration none !important

			.currentProgram
				text-decoration none !important
				color black
				border-bottom 2px solid transparent

		ul.dropdown-menu
			min-width 80px

			li
				min-width 20px
				text-align right

				> a
					padding 8px 20px

		.colorKeyBubble .bubbleContents
			width 16px
			height 16px
			margin-left 5px