{% extends "portal/base_portal.html" %}
{% load i18n %}

{% block title %}{% trans "Thank You" %}{% endblock %}

{% block content %}
<article style="text-align:center; padding:2rem">
    <h1>{% trans "Thank you!" %}</h1>
    <p>{% blocktrans with name=survey.name %}Your response to "{{ name }}" has been submitted.{% endblocktrans %}</p>
    <a href="{% url 'portal:surveys' %}" role="button" class="outline">{% trans "Back to surveys" %}</a>
    <a href="{% url 'portal:dashboard' %}" role="button">{% trans "Go to Home" %}</a>
</article>
{% endblock %}
